<div data-test-type='form-field-date-picker'>
{{pikaday-input
  data-test-type='date'
  value=(readonly formField.value)
  startDate=startDate
  endDate=formField.endDate
  onSelection=(action onUserInteraction)
  placeholder=formField.label
  autoclose=formField.autoclose
  orientation=formField.orientation
  todayHighlight=true
  format=format
  clearBtn=true
}}
</div>