<div data-test-type='form-field-power-select'>
{{#power-select
  options=formField.options
  selected=(readonly formField.value)
  searchPlaceholder=formField.searchPlaceholder
  allowClear=true
  placeholder=formField.label
  onchange=(action onUserInteraction)
  onclose=onclose
  as |option|
  }}
  {{option}}
{{/power-select}}
</div>