<div class="input-radio-checkbox">
  {{radio-button
    value=value
    groupValue=groupValue
    name=name
    changed=changedAction}}
  <div class="radio-checkbox-dummy">
    {{svg/radio-button-checkbox-graphics}}
  </div>
</div>
{{#if label}}<label>{{label}}</label>{{/if}}