<div class="logo-container">
  {{#link-to "index"}}{{svg/todo-logo-horizontal}}{{/link-to}}
</div>
{{#if systemMessage}}{{layouts/system-message systemMessage=systemMessage data-test-id="system-message"}}{{/if}}
<div class="clr"></div>