<h3>{{formMetaData.title}}</h3>
<form {{action "submit" on="submit"}}>
  {{#each formFields as |formField index|}}
    {{extensible/validating-form-field
      formField=formField
      setFormFieldValue=(action 'setFormFieldValue')
      setFormFieldError=(action 'setFormFieldError')
      customValidations=(action 'customValidations')
      data-test-id=(concat 'validating-field-' formField.fieldId)
    }}
  {{/each}}
  {{custom-elements/form-submit-input value=submitButtonText requestInFlight=requestInFlight}}
</form>