{{#layouts/private/outer-wrapper systemMessage=systemMessage class="dashboard"}}
  {{#layouts/content-wrapper title="Dynamic Forms"}}
    <button {{action "createNewField"}}>Add field</button>
    {{#if showFieldCreator}}
      <div class="clr"></div>
      <div class="dynamic-form-container builder">
        {{custom-elements/create-form-field
          setProperty=(action setProperty)
          currentField=currentField
          updateDynamicForm=(action "updateDynamicForm")
        }}
      </div>
    {{/if}}
    {{#if dynamicFormFields}}
      <div class="dynamic-form-container preview">
        {{forms/dynamic-form
            submitAction=(action submitAction)
            setProperty=(action setProperty)
            dynamicFormFields=dynamicFormFields
          }}
      </div>
    {{/if}}
  {{/layouts/content-wrapper}}
{{/layouts/private/outer-wrapper}}