{{#layouts/private/outer-wrapper systemMessage=systemMessage class="dashboard"}}
  {{#layouts/content-wrapper title='Dynamic Forms'}}

      <div class="dynamic-form-container builder">
      {{custom-elements/create-form-field
        setProperty=(action setProperty)
        updateDynamicForm=(action 'updateDynamicForm')
      }}
      </div>
      <div class="dynamic-form-container preview">
        {{forms/dynamic-form
          submitAction=(action submitAction)
          setProperty=(action setProperty)
          dynamicFormFields=dynamicFormFields
        }}
      </div>
  {{/layouts/content-wrapper}}
{{/layouts/private/outer-wrapper}}
